* {
  font-size: 16px;
  color: white;
}

html,
  body {
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: rgba(0,0,0,.7);
  font-family: Roboto, Arial, sans-serif;
}

.username{
  border: none;
  height: 20px;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}

input {
  background-color: rgb(50,50,50);
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 200px;
}

form {
  margin: 20px 0;
  padding: 30px 25px;
  padding-bottom: 0%;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(0,0,0,.6);
}

div.chat {
  box-sizing: border-box;
  margin: -1px 0;
  padding-bottom: 20px;
  -webkit-user-select: text;
  width: 50vw;
  height: 60vh;
}
/*div dentro do char aonde as criancas sao criadas*/
.messages{
  overflow: scroll;
  max-height: 100%;
  overflow-x: hidden;
}
/*class dos pacotes de dados*/
.message {
  padding-top: 3px;
}
/*class do texto dentro da mensagem*/
.msg {
  font-size: 14px;
  padding-right: 10px;
}

.time {
  display: inline-block;
  font-size: 16px;    
  padding-left: 5px;
}

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width:100%;
  background-color: rgb(50,50,50);
  border-radius: 0px 0px 5px 5px;
}

.textInput {
  border: none;
  overflow-y: none;
  overflow-x: hidden;
  outline: none;
  resize: none;
  z-index: 0;
  max-height: 24px;
  line-height: 24px;
  width: 90%;
  background-color: transparent;
  margin-left: 1%;
  margin-top: 5px;
  margin-bottom: 4px;
  color: white;
  padding-right: 5px;
}
/*mudando cor do place holder*/
::-webkit-input-placeholder {
color: rgba(255,255,255,.7);
}

:-moz-placeholder {
color: rgba(255,255,255,.7);
}

::-moz-placeholder {
color: rgba(255,255,255,.7);  
}

:-ms-input-placeholder {  
color: rgba(255,255,255,.7);  
}
/*---------------------------*/

#submit {
  border: none;
  display: inline-block;
  position: absolute;
  font-size: 20px;
  right: 1%;
  margin-left: 5px;
  background-color: rgb(50, 50, 50);
  top: 50%;
  transform: translateY(-53%);
  cursor: pointer;
}

/*----------barra de rolagem do chat----------*/

::-webkit-scrollbar-track {
  background-color: rgb(50,50,50)
}
::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0,0,0,.8);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.8);
}
